@using AOLadderer.Stats

@functions {
    [Parameter] Action<Buff> OnBuffAdded { get; set; }
    [Parameter] Action<Buff> OnBuffRemoved { get; set; }

    void HandleCheckboxChange(Buff buff, UIChangeEventArgs args)
    {
      bool isChecked = true.Equals(args.Value);
      (isChecked ? OnBuffAdded : OnBuffRemoved)?.Invoke(buff);
    }
}

<div class="form-check">
  <input class="form-check-input" type="radio" name="buffs-config-composites" id="buffs-config-none" checked
         onchange="@(a => 
            {
              OnBuffRemoved?.Invoke(Buff.Composites);
              OnBuffRemoved?.Invoke(Buff.Composites_Pay2Win);
            })" />
  <label class="form-check-label" for="buffs-config-none">
    None
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="buffs-config-composites" id="buffs-config-composites"
         onchange="@(a =>
            {
              OnBuffAdded?.Invoke(Buff.Composites);
              OnBuffRemoved?.Invoke(Buff.Composites_Pay2Win);
            })" />
  <label class="form-check-label" for="buffs-config-composites">
    Composites
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="buffs-config-composites" id="buffs-config-composites-pay2win"
         onchange="@(a => 
            {
              OnBuffRemoved?.Invoke(Buff.Composites);
              OnBuffAdded?.Invoke(Buff.Composites_Pay2Win);
            })" />
  <label class="form-check-label" for="buffs-config-composites-pay2win">
    Composites (Pay2Win)
  </label>
</div>

<hr />

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-surgery-clinic-effect"
         onchange="@(a => HandleCheckboxChange(Buff.SurgeryClinicEffect, a))" />
  <label class="form-check-label" for="buffs-config-surgery-clinic-effect">
    Surgery Clinic Effect
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-superior-first-aid"
         onchange="@(a => HandleCheckboxChange(Buff.SuperiorFirstAid, a))" />
  <label class="form-check-label" for="buffs-config-superior-first-aid">
    Superior First Aid
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-enhanced-senses"
         onchange="@(a => HandleCheckboxChange(Buff.EnhancedSenses, a))" />
  <label class="form-check-label" for="buffs-config-enhanced-senses">
    Enhanced Senses
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-feline-grace" 
         onchange="@(a => HandleCheckboxChange(Buff.FelineGrace, a))" />
  <label class="form-check-label" for="buffs-config-feline-grace">
    Feline Grace
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-essence-of-behemoth"
         onchange="@(a => HandleCheckboxChange(Buff.EssenceOfBehemoth, a))" />
  <label class="form-check-label" for="buffs-config-essence-of-behemoth">
    Essence of Behemoth
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-gauntlet"
         onchange="@(a => HandleCheckboxChange(Buff.Gauntlet, a))" />
  <label class="form-check-label" for="buffs-config-gauntlet">
    Gauntlet
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-extruder-bar"
         onchange="@(a => HandleCheckboxChange(Buff.ExtruderBar, a))" />
  <label class="form-check-label" for="buffs-config-extruder-bar">
    Extruder Bar
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-explosifs"
         onchange="@(a => HandleCheckboxChange(Buff.Explosifs, a))" />
  <label class="form-check-label" for="buffs-config-explosifs">
    Explosifs (20 Abis, 0 Tre)
  </label>
</div>

<hr />

<div class="form-check">
  <input class="form-check-input" type="radio" name="buffs-config-str-sta-buff" id="buffs-config-none2" checked
         onchange="@(a => 
            {
              OnBuffRemoved?.Invoke(Buff.IronCircle);
              OnBuffRemoved?.Invoke(Buff.ProdigiousStrength);
              OnBuffRemoved?.Invoke(Buff.IronCircleOrProdigiousStrength);
            })" />
  <label class="form-check-label" for="buffs-config-none2">
    None
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="buffs-config-str-sta-buff" id="buffs-config-iron-circle"
         onchange="@(a => 
            {
              OnBuffAdded?.Invoke(Buff.IronCircle);
              OnBuffRemoved?.Invoke(Buff.ProdigiousStrength);
              OnBuffRemoved?.Invoke(Buff.IronCircleOrProdigiousStrength);
            })" />
  <label class="form-check-label" for="buffs-config-iron-circle">
    Iron Circle
  </label>
</div>


<div class="form-check">
  <input class="form-check-input" type="radio" name="buffs-config-str-sta-buff" id="buffs-config-prodigious-strength"
         onchange="@(a => 
            {
              OnBuffRemoved?.Invoke(Buff.IronCircle);
              OnBuffAdded?.Invoke(Buff.ProdigiousStrength);
              OnBuffRemoved?.Invoke(Buff.IronCircleOrProdigiousStrength);
            })" />
  <label class="form-check-label" for="buffs-config-prodigious-strength">
    Prodigious Strength
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="buffs-config-str-sta-buff" id="buffs-config-ic-or-ps"
         onchange="@(a => 
            {
              OnBuffRemoved?.Invoke(Buff.IronCircle);
              OnBuffRemoved?.Invoke(Buff.ProdigiousStrength);
              OnBuffAdded?.Invoke(Buff.IronCircleOrProdigiousStrength);
            })" />
  <label class="form-check-label" for="buffs-config-ic-or-ps">
    IC or PS (40 Str, 20 Sta)
  </label>
</div>

<hr />

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-neuronal-stimulator"
         onchange="@(a => HandleCheckboxChange(Buff.NeuronalStimulator, a))" />
  <label class="form-check-label" for="buffs-config-neuronal-stimulator">
    Neuronal Stimulator
  </label>
</div>