@code {
    [Parameter] public BuffsModel Model { get; set; }
    [Parameter] public Action ModelChanged { get; set; }
}

<div class="form-check">
  <input class="form-check-input" type="radio" name="buffs-config-composites" id="buffs-config-composites"
         checked="@(Model.Composites == CompositesBuff.Standard)" @onchange="e => { Model.Composites = CompositesBuff.Standard; ModelChanged?.Invoke(); }" />
  <label class="form-check-label" for="buffs-config-composites">Composites</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="buffs-config-composites" id="buffs-config-composites-pay2win"
         checked="@(Model.Composites == CompositesBuff.Pay2Win)" @onchange="e => { Model.Composites = CompositesBuff.Pay2Win; ModelChanged?.Invoke(); }" />
  <label class="form-check-label" for="buffs-config-composites-pay2win">Composites (Pay2Win)</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="buffs-config-composites" id="buffs-config-none"
         checked="@(Model.Composites == CompositesBuff.None)" @onchange="e => { Model.Composites = CompositesBuff.None; ModelChanged?.Invoke(); }" />
  <label class="form-check-label" for="buffs-config-none">None</label>
</div>

<hr class="border-secondary" />

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-surgery-clinic-effect"
         checked="@Model.UseSurgeryClinicEffect" @onchange="e => { Model.UseSurgeryClinicEffect = Convert.ToBoolean(e.Value); ModelChanged?.Invoke(); }" />
  <label class="form-check-label" for="buffs-config-surgery-clinic-effect">Surgery Clinic Effect</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-superior-first-aid"
         checked="@Model.UseSuperiorFirstAid" @onchange="e => { Model.UseSuperiorFirstAid = Convert.ToBoolean(e.Value); ModelChanged?.Invoke(); }" />
  <label class="form-check-label" for="buffs-config-superior-first-aid">Superior First Aid</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-enhanced-senses"
         checked="@Model.UseEnhancedSenses" @onchange="e => { Model.UseEnhancedSenses = Convert.ToBoolean(e.Value); ModelChanged?.Invoke(); }" />
  <label class="form-check-label" for="buffs-config-enhanced-senses">Enhanced Senses</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-feline-grace"
         checked="@Model.UseFelineGrace" @onchange="e => { Model.UseFelineGrace = Convert.ToBoolean(e.Value); ModelChanged?.Invoke(); }" />
  <label class="form-check-label" for="buffs-config-feline-grace">Feline Grace</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-essence-of-behemoth"
         checked="@Model.UseEssenceOfBehemoth" @onchange="e => { Model.UseEssenceOfBehemoth = Convert.ToBoolean(e.Value); ModelChanged?.Invoke(); }" />
  <label class="form-check-label" for="buffs-config-essence-of-behemoth">Essence of Behemoth</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-gauntlet"
         checked="@Model.UseGauntlet" @onchange="e => { Model.UseGauntlet = Convert.ToBoolean(e.Value); ModelChanged?.Invoke(); }" />
  <label class="form-check-label" for="buffs-config-gauntlet">Gauntlet</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-extruder-bar"
         checked="@Model.UseExtruderBar" @onchange="e => { Model.UseExtruderBar = Convert.ToBoolean(e.Value); ModelChanged?.Invoke(); }" />
  <label class="form-check-label" for="buffs-config-extruder-bar">Extruder Bar</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-explosifs"
         checked="@Model.UseExplosifs" @onchange="e => { Model.UseExplosifs = Convert.ToBoolean(e.Value); ModelChanged?.Invoke(); }" />
  <label class="form-check-label" for="buffs-config-explosifs">Explosifs (20 Abis, 0 Tre)</label>
</div>

<hr class="border-secondary" />

<div class="form-check">
  <input class="form-check-input" type="radio" name="buffs-config-str-sta-buff" id="buffs-config-iron-circle"
         checked="@(Model.StrengthAndStamina == StrengthAndStaminaBuff.IronCircle)" @onchange="e => { Model.StrengthAndStamina = StrengthAndStaminaBuff.IronCircle; ModelChanged?.Invoke(); }" />
  <label class="form-check-label" for="buffs-config-iron-circle">
    Iron Circle
  </label>
</div>


<div class="form-check">
  <input class="form-check-input" type="radio" name="buffs-config-str-sta-buff" id="buffs-config-prodigious-strength"
         checked="@(Model.StrengthAndStamina == StrengthAndStaminaBuff.ProdigiousStrength)" @onchange="e => { Model.StrengthAndStamina = StrengthAndStaminaBuff.ProdigiousStrength; ModelChanged?.Invoke(); }" />
  <label class="form-check-label" for="buffs-config-prodigious-strength">
    Prodigious Strength
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="buffs-config-str-sta-buff" id="buffs-config-ic-or-ps"
         checked="@(Model.StrengthAndStamina == StrengthAndStaminaBuff.IronCircleOrProdigiousStrength)" @onchange="e => { Model.StrengthAndStamina = StrengthAndStaminaBuff.IronCircleOrProdigiousStrength; ModelChanged?.Invoke(); }" />
  <label class="form-check-label" for="buffs-config-ic-or-ps">
    IC or PS (40 Str, 20 Sta)
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="buffs-config-str-sta-buff" id="buffs-config-none2"
         checked="@(Model.StrengthAndStamina == StrengthAndStaminaBuff.None)" @onchange="e => { Model.StrengthAndStamina = StrengthAndStaminaBuff.None; ModelChanged?.Invoke(); }" />
  <label class="form-check-label" for="buffs-config-none2">None</label>
</div>

<hr class="border-secondary" />

<div class="form-check">
  <input class="form-check-input" type="checkbox" id="buffs-config-neuronal-stimulator"
         checked="@Model.UseNeuronalStimulator" @onchange="e => { Model.UseNeuronalStimulator = Convert.ToBoolean(e.Value); ModelChanged?.Invoke(); }" />
  <label class="form-check-label" for="buffs-config-neuronal-stimulator">Neuronal Stimulator</label>
</div>
