@using AOLadderer.ClusterTemplates

@functions {
    string GetHtmlID(ImplantSlot slot, string brightness)
        => $"implant-config-{slot.ShortName.ToLower()}-{brightness}";
}

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>
        <label for="@GetHtmlID(ImplantSlot.ImplantSlots.First(), "shiny")">Shiny</label>
      </th>
      <th>
        <label for="@GetHtmlID(ImplantSlot.ImplantSlots.First(), "bright")">Bright</label>
      </th>
      <th>
        <label for="@GetHtmlID(ImplantSlot.ImplantSlots.First(), "faded")">Faded</label>
      </th>
    </tr>
  </thead>

  <tbody>
    @foreach (ImplantSlot slot in ImplantSlot.ImplantSlots)
    {
      <tr>
        <th><label for="@GetHtmlID(slot, "shiny")">@slot.Name</label></th>
        <td>
          <select id="@GetHtmlID(slot, "shiny")" class="form-control">
            <option></option>
            @foreach (ShinyClusterTemplate a in slot.ShinyClusterTemplates)
            {
              <option>@a.Stat.Name</option>
            }
          </select>
        </td>
        <td>
          <select id="@GetHtmlID(slot, "bright")" class="form-control">
            <option></option>
            @foreach (BrightClusterTemplate a in slot.BrightClusterTemplates)
            {
              <option>@a.Stat.Name</option>
            }
          </select>
        </td>
        <td>
          <select id="@GetHtmlID(slot, "faded")" class="form-control">
            <option></option>
            @foreach (FadedClusterTemplate a in slot.FadedClusterTemplates)
            {
              <option>@a.Stat.Name</option>
            }
          </select>
        </td>
      </tr>
    }
  </tbody>
</table>