@functions {
  [Parameter] ShoppingModel Model { get; set; }
}

<div class="row">
  @foreach (var clusterType in new[]
  {
    new { name = "Shiny", clusters = Model.ShinyClusters },
    new { name = "Bright", clusters = Model.BrightClusters },
    new { name = "Faded", clusters = Model.FadedClusters }
  })
  {
    <div class="col-md-4">
      <h5>@clusterType.name clusters</h5>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th style="width: 1%;"></th>
            <th>Min QL</th>
            <th>Stat</th>
          </tr>
        </thead>

        <tbody>
          @foreach (var cluster in clusterType.clusters)
          {
            <tr class="@(cluster.IsChecked ? "text-secondary" : null)"
                onclick="@(e => cluster.IsChecked = !cluster.IsChecked)">
              <td><input type="checkbox" bind="cluster.IsChecked" /></td>
              <td>@cluster.MinimumQL</td>
              <td>@cluster.Stat</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
